<header role="banner">
    <nav class="navbar navbar-default navbar-static-top" id="top-nav" role="navigation">
        <div class="container container-fluid">
            <div class="navbar-inner-background"></div>
            <div class="navbar-header">
                <a class="navbar-brand" routerLink="/">
                    <img [src]="logo_url" alt="Spotibuy Logo"/>
                </a>
            </div>
            <div class="navbar-collapse collapse" id="top-navbar-collapse" aria-expanded="false" style="height: 0px;">
                <ul class="nav navbar-nav" id="nav-item-container">
                    <li>
                        <a class="underline" routerLink="/products">Shop</a>
                    </li>
                    <li>
                        <a class="underline" routerLink="/products">Cart</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>